.tag {
  background-color: #F5F5F5;
  border-radius: 4px;
  font-size: 80%;
  font-weight: 500;
  padding: .1em .3em;
  color: var(--typography-main);

  @media (prefers-color-scheme: dark) {
    color: var(--typography-inverse);
  }

  &:not([aria-selected]) {
    border: none;
  }

  &[data-tag="choreography"] {
    --color: aqua;
    background-color: var(--color);
    /* color: color-contrast(var(--color)  vs var(--typography-main), var(--typography-inverse)); */
  }

  &[data-tag="artistry"] {
    --color: coral;
    background-color: var(--color);
    /* color: color-contrast(var(--color) vs var(--typography-main), var(--typography-inverse)); */
  }

  &[data-tag="tricks"] {
    --color: bisque;
    background-color: var(--color);
    /* color: color-contrast(var(--color) vs var(--typography-main), var(--typography-inverse)); */
  }

  &[data-tag="flow"] {
    --color: yellow;
    background-color: var(--color);
    /* color: color-contrast(var(--color) vs var(--typography-main), var(--typography-inverse)); */
  }

  &[data-tag="posture"] {
    --color: gold;
    background-color: var(--color);
    /* color: color-contrast(var(--color) vs var(--typography-main), var(--typography-inverse)); */
  }

  &[data-tag="competition"] {
    --color: paleturquoise;
    background-color: var(--color);
    /* color: color-contrast(var(--color) vs var(--typography-main), var(--typography-inverse)); */
  }

  &[data-tag="misc"] {
    --color: greenyellow;
    background-color: var(--color);
    /* color: color-contrast(var(--color) vs var(--typography-main), var(--typography-inverse)); */
  }
}

.principle {
  summary > span {
    display: inline-flex;
    width: calc(100% - 1.5em);
    flex-wrap: wrap;

    & > span {
      margin-inline-start: auto;
    }
  }

  details&[open] > :is(summary, summary:not(:focus), summary:focus:not([role="button"])) {
    color: unset;
    font-weight: 500;
    margin-bottom: 1em;
  }

  & > *:not(summary) {
    font-size: 80%;
  }
}
