public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*ember-template-lint*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*caniuse*
strict-peer-dependencies=false

auto-install-peers=false
reslove-peers-from-workspace-root=false