{{page-title 'Dance-Oh!-Mat'}}

<nav class='container-fluid' local-class='nav'>
  <ul class='container'>
    <li><LinkTo @route='dance-mix'>Dance Mix</LinkTo></li>
  </ul>
</nav>

<main class='container' local-class='main'>
  {{outlet}}
</main>

<Player />