.main {
  padding-bottom: 6rem;
  padding-top: 4rem;

  &[data-game] main {
    @media (width <= 992px) {
      display: none;
    }
  }
}

.nav {
  background-color: var(--card-background-color);
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  z-index: 1;

  .label {
    @media (width <= 810px) {
      border: 0 !important;
      clip: rect(0, 0, 0, 0) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      white-space: nowrap !important;
      width: 1px !important;
    }
  }
}

.close {
  float: right;
  width: auto;
}
