.info {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
  width: unset;
}

.manual {
  padding-left: 1em;
}

.manual button {
  display: inline;
  padding: 0.25em 0.5em;
  width: unset;
}

.counter {
  font-size: 8rem;
  text-align: center;
}

.selection {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  justify-content: center;

  button {
    /* touch */
    @media (hover: none) and (pointer: coarse) {
      aspect-ratio: 1;
    }
  }
}

.dance {
  font-size: 36px;
  font-style: italic;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.playing {
  --offset: 190px;

  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - var(--offset));

  @media (width >= 576px) {
    --offset: 230px;
  }

  @media (width >= 768px) {
    --offset: 280px;
  }

  @media (width >= 992px) {
    --offset: 300px;
  }
}

.stop {
  margin-block-start: auto;
}

.header h1 {
  margin-bottom: 0;
}
