.timeline {
  svg {
    background: none !important;
  }

  :global(.vis-timeline > .vis-background:first-child) {
    background-color: var(--surface-container1);
  }

  :global(.vis-time-axis.vis-background) {
    background-color: var(--surface-container);
  }

  :global(.vis-label) {
    color: var(--typography-subtle);
    border-color: var(--control-border-color);
  }

  :global(.vis-text) {
    color: var(--typography-muted);
    background-color: var(--surface-container1);
    border-right: 0.5px solid var(--control-border-color);
  }

  :global(.vis-panel),
  :global(.vis-timeline),
  :global(.vis-group) {
    border-color: var(--control-border-color);
  }

  :global(.vis-time-axis .vis-grid.vis-vertical) {
    border-left: 0.5px solid hsl(from var(--control-border-color) h s calc(l - 5));
  }

  :global(.vis-group:first-child .vis-item) {
    margin-top: -15px;
  }

  :global(.marker .vis-item) {
    color: var(--typography-main);
    background-color: var(--surface-popover);
    border-color: var(--shape-stroke-color);
  }

  :global(.artistry .vis-item) {
    background-color: #FEB019;
    border-color: #FEB019;
  }

  :global(.comm .vis-item) {
    background-color: #00E396;
    border-color: #00E396;
  }

  :global(.tricks .vis-item) {
    background-color: #008FFB;
    border-color: #008FFB;
  }

  :global(.filler .vis-item) {
    background-color: #775DD0;
    border-color: #775DD0;
  }

  :global(.void .vis-item) {
    background-color: #FF4560;
    border-color: #FF4560;
  }

  :global(.vis-item.vis-selected) {
    background-color: var(--control-focus-selected-background);
    border-color: var(--control-border-color);
  }
}
