.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: var(--s0);
  border-top: 1px solid #000;
  background-color: var(--card-background-color);

  :global(.grid) :where(p, button, select) {
    margin-bottom: 0;
  }
}
