<header class='grid'>
  <h1>Choreographie</h1>

  <nav>
    <ul>
      <li><LinkTo @route='choreography'>Übersicht</LinkTo></li>
      <li><LinkTo @route='choreography.measure'>Messverfahren</LinkTo></li>
    </ul>
  </nav>
</header>