{{page-title 'Improvisation'}}

<h1>Improvisation</h1>

<h2>Kursinhalte</h2>

<ul>
  <li>Musikalische Interpretation</li>
  <li>Non-Verbale Kommunikation (erkennen und interpretieren)</li>
</ul>

<h2>Trainingseinheiten</h2>