.video {
  width: 80vw;
}

.curriculum {
  container-type: inline-size;

  & > div {
    display: grid;
    grid-template-columns: repeat(4, auto);

    & > div {
      display: grid;
      grid-column: span 4;
      grid-template-columns: subgrid;

      border-block-start: 1px solid var(--shape-stroke-color);
      border-inline-start: 1px solid var(--shape-stroke-color);

      & > * {
        padding: 0.5rem 0.75rem;
        border-inline-end: 1px solid var(--shape-stroke-color);
      }

      &:last-child {
        border-block-end: 1px solid var(--shape-stroke-color);
      }
    }

    [data-step] {
      & > *:first-child {
        border-block-end: 1px solid var(--shape-stroke-color);
      }
    }

    [data-header] {
      background: var(--surface-container1);
      border-block-end: 1px solid var(--shape-stroke-color);
    }

    [data-title] {
      grid-column: span 4;
      background: var(--surface-container);

      details {
        &[open] summary {
          margin-block-end: var(--spacing-primitive-2);
        }

        :not(summary) {
          color: var(--typography-muted);
        }
      }
    }

    [data-instruction]  > * + * {
      margin-block-start: 1em;
    }

    [data-media]  > * + * {
      margin-block-start: var(--spacing-primitive-3);
    }

    @container (inline-size < 40em) {
      grid-template-columns: auto;
      gap: var(--spacing-container0);

      & > div {
        grid-column: auto;
        grid-template-areas:
        "title title"
        "duration method"
        "instruction instruction"
        "media media";
        grid-template-columns: 1fr 1fr;
        border-block-end: 0;

        & > * {
          border-block-end: 1px solid var(--shape-stroke-color);
        }

        &:last-child {
          border-block-end: 0;
        }
      }

      [data-header] {
        display: none;
      }

      [data-title] {
        grid-area: title;
        grid-column: auto;
        grid-column: span 2;
      }

      [data-duration] {
        grid-area: duration;
      }

      [data-instruction] {
        grid-area: instruction;
      }

      [data-method] {
        grid-area: method;
      }

      [data-media] {
        grid-area: media;
      }
    }
  }
}
