.card {
  display: flex;
  flex-direction: column;

  [part="header"] {
    display: flex;
    justify-content: space-between;
  }

  [part="body"] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.75em;
    justify-content: space-between;

    ul {
      display: flex;
      flex-flow: row wrap;
      font-size: 80%;
      gap: 0.5em;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      text-wrap: nowrap;
    }
  }
}
