{{page-title 'Not Todo Liste'}}

<h2>Not Todo Liste</h2>

<p>Über die Jahre haben sich
  <i>Dinge</i>
  angehäuft, die sich als eher
  <b>problematisch</b>
  für eine
  <i>ansprechende</i>
  Kür gezeigt haben. Die sind hier gelistet, so können zukünftige Generationen
  aus den Fehlern der vorigen Lernen.
</p>

<ChoreoNotTodoList />