.comparison {
  header {
    border-bottom: var(--border-width) solid var(--table-border-color);
    margin-bottom: var(--spacing);
    padding-bottom: var(--spacing);
  }

  ul {
    font-size: 80%;
    padding-left: 1em;
  }
}
