<h1>Kurse</h1>

<article>
  <header><LinkTo @route='courses.improvisation'>Improvisation</LinkTo></header>
  <p>Frei erfundene Bewegungen zur Musik, mit und ohne Partner.</p>
</article>

{{! <Game @game='dance-mix' /> }}