{{page-title 'Emotionen'}}

<h1>Emotionen</h1>

<h2>Kursinhalte</h2>

<ul>
  <li></li>
</ul>

<h2>Trainingseinheiten</h2>

<h3>Einheit 1</h3>

- Steinmetz - Pantotion

<h3>Einheit 2</h3>

- Emoretro

<h3>Einheit 3</h3>

- Emopost

<h3>Einheit 4</h3>

- Gruppenemotion

<h3>Einheit 5</h3>

- Mood Impro