.comparison {
  header {
    border-bottom: var(--border-width) solid var(--table-border-color);
  }

  ul {
    padding-left: 1em;
    font-size: 80%;
  }
}

.measures {
  --min: 25ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);

  /* min() with 100% prevents overflow in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.defs {
  dd > * + * {
    margin-block-start: 0.5em;
  }
}
