.tag {
  background-color: #F5F5F5;
  border-radius: 4px;
  color: var(--contrast);
  font-size: 80%;
  font-weight: 500;
  padding: .1em .3em;

  @media (prefers-color-scheme: dark) {
    color: var(--contrast-inverse);
  }

  &:not([aria-selected]) {
    border: none;
  }

  &[data-tag="choreography"] {
    background-color: aqua;
  }

  &[data-tag="artistry"] {
    background-color: coral;
  }

  &[data-tag="tricks"] {
    background-color: bisque;
  }

  &[data-tag="flow"] {
    background-color: yellow;
  }

  &[data-tag="posture"] {
    background-color: gold;
  }

  &[data-tag="competition"] {
    background-color: paleturquoise;
  }

  &[data-tag="misc"] {
    background-color: greenyellow;
  }
}

.principle {
  summary {
    display: flex;

    & > span {
      margin-inline-start: auto;
    }
  }

  details&[open] > :is(summary, summary:not(:focus), summary:focus:not([role="button"])) {
    color: unset;
    font-weight: 550;
    margin-bottom: 1em;
  }

  & > *:not(summary) {
    font-size: 80%;
  }
}
