.layout {
  display: flex;
  gap: 1rem;
  align-items: center;

  min-height: calc(4.5rem + 1vw);
  padding: var(--spacing-container-4);

  strong, small {
    text-overflow: ellipsis;
  }
}

.warning {
  color: var(--indicator-warning-plain-text);
}

.spotify {
  font-size: var(--s4);
  color: #1ed760;
}
