.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;

  & > * {
    margin: 0;
  }
}

.reload {
  &,
  &:hover,
  &:active,
  &:focus {
    --pico-background-color: transparent;
    --pico-border-color: transparent;
    --pico-box-shadow: unset;
  }

  display: inline;
  font-size: 3em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: auto;
}

.devices {
  align-items: center;
  display: flex;
  gap: 8px;

  & > * {
    margin: 0;
  }
}
