.layout {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-container-4);

  strong, small {
    text-overflow: ellipsis;
  }
}

.warning {
  color: var(--indicator-warning-plain-text);
}

.trigger {
  padding: var(--spacing-primitive-4);
  font-size: var(--s3);

  &[data-need-device] {
    color: var(--indicator-error-plain-text);
  }

  &[data-has-device] {
    /* spotify green */
    color: #1ed760;
  }
}

.devices:popover-open {
  position: absolute;
  inset: auto var(--spacing-container-1) 5rem auto;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-container-1);

  margin-right: var(--spacing-container-1);

  button {
    justify-content: flex-start;
    padding-inline: var(--spacing-primitive-4);

    span:first-child {
      font-size: var(--s1);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (width >= 72rem) {
    /* left: calc(50% + var(--sizing-max-content-width) / 2); */
    right: calc((100% - var(--sizing-max-content-width)) / 2);
  }
}
