<header local-class='header'>
  <h1>Choreographie</h1>

  <nav>
    <ul>
      <li><LinkTo @route='training'>Übersicht</LinkTo></li>
      <li><LinkTo @route='training.control'>Steuerung</LinkTo></li>
      <li><LinkTo @route='training.diagnostics'>Diagnostik</LinkTo></li>
    </ul>
  </nav>
</header>

{{outlet}}